<h3 class="page-header">Available Experiments</h3>
<p>Welcome {{name}}! Please select the lab of your interest to proceed.</p>

<div class="table-responsive">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Title</th>
	      <th>Category</th>
	    </tr>
	  </thead>
	  <tbody>
	  {{# each items }}
	    <tr>
	      <td>{{this.no}}</td>
	      <td><a href="">{{this.title}}</a></td>
	      <td>{{this.category}}</td>
	    </tr>
	    {{/each}}
	  </tbody>
	</table>
</div>