<h2><strong>{{output}} lab</strong></h2>
<p>{{id}}</p>

<body>
<div class="col-md-10 col-md-offset-1">
	<ul class="nav nav-tabs nav-centered">
		  <li class="active"><a data-toggle="tab" href="#documentation">Documentation</a></li>
		  <li><a data-toggle="tab" href="#experiment">Experiment</a></li>
		  <li><a data-toggle="tab" href="#assessement">Assessement</a></li>
	</ul>
	<div class="tab-content">
	  <div id="documentation" class="tab-pane fade in active">
	    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel justo et lacus vehicula rutrum eget vel nisi. Fusce at mi congue, efficitur sapien sed, aliquam lacus. Maecenas quis molestie eros. Cras lectus nisl, eleifend vel tellus vitae, bibendum porta arcu. Ut sed tempor ligula. Nam consectetur lorem nec neque posuere, sit amet sollicitudin enim suscipit. Vivamus sodales luctus massa, quis consectetur justo imperdiet sit amet. Vivamus orci augue, fringilla interdum pulvinar nec, ullamcorper eget leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus molestie, ligula et pulvinar ullamcorper, nisl felis sodales leo, sit amet accumsan ipsum elit nec turpis.</p>
	  </div>
	  <div id="experiment" class="tab-pane fade">
	    <!-- Plotly chart will be drawn inside this div -->
    	<div id="wind-speed"></div>
	  </div>
	  <div id="assessement" class="tab-pane fade">
	    <p>
		Suspendisse sit amet mi et sapien finibus fermentum vel id massa. Mauris volutpat neque a congue consectetur. Etiam mauris lacus, dictum et varius sed, laoreet non nisl. Morbi libero urna, pellentesque mattis libero vitae, accumsan rhoncus justo. Fusce commodo quam viverra nisl feugiat, sit amet feugiat est placerat. In malesuada accumsan diam. Cras porttitor ac ex non egestas. Donec convallis aliquet lectus, non porta diam ullamcorper at. Phasellus feugiat luctus pretium. Nulla eleifend massa non ipsum sollicitudin, ut congue metus sollicitudin. Nulla rhoncus porttitor eleifend. Curabitur felis eros, suscipit eu magna id, vestibulum fermentum eros. Nullam rhoncus eget neque in finibus. Aenean in enim nisl. Suspendisse pharetra ipsum nec mauris condimentum hendrerit. Nulla nibh nisi, fringilla in sapien vel, consequat pretium ex. </p>
	  </div>
	</div>
</div>
</body>