<h4 class="page-header text-center">Login</h4>

<div class="col-md-4 col-md-offset-4">
    <div class="card card-container">
        <form method="post" action="/users/login" class="well">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div><br>

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div><br>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>